<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          HOME
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botones para acceder a las diferentes páginas -->
  <ion-button routerLink="/camera" expand="block" fill="clear" shape="round">Camera</ion-button>
  <ion-button routerLink="/swiper" expand="block" fill="clear" shape="round">Swiper</ion-button>
  <ion-button routerLink="/voice" expand="block" fill="clear" shape="round">Voz</ion-button>
  <ion-button routerLink="/leaflet" expand="block" fill="clear" shape="round">Leaflet</ion-button>
</ion-content>
